<mat-card class="example-card">
  <p class="head">Email Verification</p>
  <img mat-card-image class="logo" src="assets/images/EMail.png" alt="Logo">
  <mat-card-content>
    <div class="register">
      <p style="margin: 0; display: inline;">Mail with Link send to your Mail </p><h2 class="highlight" style="margin: 0; display: inline;">Verify</h2>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" [routerLink]="['/login']" routerLinkActive="router-link-active"  [style.width.px]=325>BACK</button>
  </mat-card-actions>
</mat-card>
